* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(127,86,215,1) 35%, rgba(0,212,255,1) 100%);

}

h1 {
    margin: 50px ;
    text-align: end;
    margin: 30px ;
}

.container {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;

}

.calculadora {
    text-align: center;
    padding: 50px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 1.2);
    background: yellowgreen;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

input {
    padding: 10px;
    margin-bottom: 30px;
    font-size: 1.5em;
    text-align: center;
}

button {
    padding: 15px;
    font-size: 1.2em;
    cursor: pointer;
}

button:hover {
    background-color: cornflowerblue;
}

